@use "variables" as *;

/* ******BELOW1280px*******/
@media (max-width: 1280px) {
    .mobileHeader {
        display: none;
    }

    header {
        display: block;
    }
    
}

/* ******BELOW820px*******/
@media (max-width: 820px) {

    html {
        font-size: 60%;
    }

    .mobileHeader {
        display: block;

        .show {
            width: 115%;
            border-bottom: .3rem solid $primary;
            border: 0;
            border-bottom: .5rem solid $primary;
            border-top: .5rem solid $primary;

            .mobileTopMenuContainer {
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    list-style: none;
                    font: 1.5rem $baseFont;
                    padding: .8rem;
                    width: 100%;

                    &:hover,
                    &:focus {
                        background-color: $primary;

                    }

                    a {
                        box-shadow: inset 0 -.4rem 0px #ede574;
                    }
                }
            }

        }
    }

    header {
        display: none;
    }

    #about {
        scroll-margin-top: 10vh;
    }

    #contactContent .contactInfo .contactForm {
        margin-top: -4%;
    }
    .projects .projectsContainer .project {
        flex-direction: column;}

}

/* ******BELOW750px*******/
@media (max-width: 750px) {
    html {
        font-size: 56%;
    }

    .title h1 {
        font-size: 55px;
    }

    .lineContainer {

        .top,
        .bottom {
            height: 2rem;
        }

        .left,
        .right {
            width: 2rem;
        }
    }
    #about .tool ul li{
        width: 30%;
    }
    
}

@media (max-width: 706px){
    .title h1 {
        font-size: 48px;
    }
}

/* ******BELOW615px*******/
@media (max-width: 615px) {
    html {
        font-size: 50%;
    }

    .title h1 {
        font-size: 45px;
    }

    .lineContainer {

        .top,
        .bottom {
            height: 1.6rem;
        }

        .left,
        .right {
            width: 1.6rem;
        }
    }

    #about {
        .aboutIntro {
            flex-direction: column;

            .aboutImg {
                margin-bottom: 2rem;
                box-shadow: none;

                img {
                    height: 30rem;
                    width: 30rem;
                    object-fit: cover;
                    border-radius: 50%;
                    border: .5rem solid $primary;
                }

            }
        }
    }


}


// @media(max-width:580px){
// glitch-effect {
//     position: relative;
//   }
//   .glitch-effect:before,
//   .glitch-effect:after {
//     content: attr(data-text);
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background: #ffffff;
//     clip: rect(0, 0, 0, 0);
//   }
//   .glitch-effect:after {
//     left: 2px;
//     text-shadow: -1px 0 #f26b38;
//     animation: glitch-1 2s infinite linear alternate-reverse;
//   }
//   .glitch-effect:before {
//     left: -2px;
//     text-shadow: 2px 0 #f26b38;
//     animation: glitch-2 2s infinite linear alternate-reverse;
//   }
// }

/* ******BELOW490px*******/
@media (max-width: 490px) {
    html {
        font-size: 50%;
    }

    .title h1 {
        font-size: 40px;
    }

    .lineContainer {

        .top,
        .bottom {
            height: 1.3rem;
        }

        .left,
        .right {
            width: 1.3rem;
        }
    }
    #about .tool ul li{
        width: 45%;
    }
}