html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

a {
  text-decoration: none;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Robot Mono Regular";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Robot Mono Bold";
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf);
}
body {
  background-color: rgb(249, 248, 246);
}

.wrapper {
  max-width: 1260px;
  width: 78%;
  margin: 0 auto;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.7rem;
  line-height: 2.3rem;
  padding: 0;
  font-family: "Robot Mono Regular";
}

h2, h3, h4 {
  font-family: "Robot Mono Bold";
  color: #363636;
  padding: 0;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #363636;
}
a:hover {
  color: #f26b38;
}
a:focus {
  color: #f26b38;
}

.button {
  padding: 0 3rem;
  margin-top: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  vertical-align: middle;
  height: 4.2rem;
  line-height: 4rem;
  text-align: center;
  color: #fff;
  background: #f26b38;
  border: 0.1rem solid #f26b38;
  font: 1.6rem "Robot Mono Regular";
}
.button:hover, .button:focus {
  color: #363636;
  background-color: #ede574;
  color: #f26b38;
  border: 0;
}

header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 20vh;
  background-color: rgb(249, 248, 246);
}
header .topMenuContainer {
  padding-top: 9rem;
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .topMenuContainer a {
  font-family: "Robot Mono Regular";
  font-size: 1.5rem;
}
header .topMenuContainer .color {
  color: #f26b38;
}

.mobileHeader {
  position: relative;
  left: 10%;
  top: 8%;
  width: 70%;
}
.mobileHeader .hamburger {
  background-color: transparent;
}
.mobileHeader .hamburger i {
  color: #363636;
  font-size: 5rem;
}

.title {
  vertical-align: middle;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  text-align: center;
}
.title h1 {
  font-family: "Robot Mono Bold";
  font-size: 56.5px;
  line-height: 8.8rem;
  color: #141414;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 1rem 0 0.5rem 0;
  word-break: break-word;
  word-wrap: break-word;
  position: relative;
}
.title h1::before {
  content: attr(data-text);
  position: absolute;
  left: -0.2rem;
  text-shadow: 0.2rem 0 #f26b38;
  width: 100%;
  clip: rect(0, 0, 0, 0);
  animation: glitch-2 2s infinite linear alternate-reverse;
}
.title h1::after {
  content: attr(data-text);
  position: absolute;
  left: 0.2rem;
  text-shadow: -0.2rem 0 #f26b38;
  width: 100%;
  clip: rect(0, 0, 0, 0);
  animation: glitch-1 2s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-1 {
  0% {
    clip: rect(30px, 920px, 51px, 0);
  }
  5% {
    clip: rect(83px, 920px, 102px, 0);
  }
  10% {
    clip: rect(89px, 920px, 105px, 0);
  }
  15% {
    clip: rect(95px, 920px, 11px, 0);
  }
  20% {
    clip: rect(105px, 920px, 56px, 0);
  }
  25% {
    clip: rect(42px, 920px, 19px, 0);
  }
  30% {
    clip: rect(58px, 920px, 97px, 0);
  }
  35% {
    clip: rect(9px, 920px, 17px, 0);
  }
  40% {
    clip: rect(103px, 920px, 53px, 0);
  }
  45% {
    clip: rect(92px, 920px, 6px, 0);
  }
  50% {
    clip: rect(77px, 920px, 46px, 0);
  }
  55% {
    clip: rect(8px, 920px, 87px, 0);
  }
  60% {
    clip: rect(12px, 920px, 15px, 0);
  }
  70% {
    clip: rect(28px, 920px, 106px, 0);
  }
  80% {
    clip: rect(98px, 920px, 63px, 0);
  }
  85% {
    clip: rect(11px, 920px, 44px, 0);
  }
  95% {
    clip: rect(23px, 920px, 84px, 0);
  }
  100% {
    clip: rect(66px, 920px, 91px, 0);
  }
}
@keyframes glitch-1 {
  0% {
    clip: rect(30px, 920px, 51px, 0);
  }
  5% {
    clip: rect(83px, 920px, 102px, 0);
  }
  10% {
    clip: rect(89px, 920px, 105px, 0);
  }
  15% {
    clip: rect(95px, 920px, 11px, 0);
  }
  20% {
    clip: rect(105px, 920px, 56px, 0);
  }
  25% {
    clip: rect(42px, 920px, 19px, 0);
  }
  30% {
    clip: rect(58px, 920px, 97px, 0);
  }
  35% {
    clip: rect(9px, 920px, 17px, 0);
  }
  40% {
    clip: rect(103px, 920px, 53px, 0);
  }
  45% {
    clip: rect(92px, 920px, 6px, 0);
  }
  50% {
    clip: rect(77px, 920px, 46px, 0);
  }
  55% {
    clip: rect(8px, 920px, 87px, 0);
  }
  60% {
    clip: rect(12px, 920px, 15px, 0);
  }
  70% {
    clip: rect(28px, 920px, 106px, 0);
  }
  80% {
    clip: rect(98px, 920px, 63px, 0);
  }
  85% {
    clip: rect(11px, 920px, 44px, 0);
  }
  95% {
    clip: rect(23px, 920px, 84px, 0);
  }
  100% {
    clip: rect(66px, 920px, 91px, 0);
  }
}
@-webkit-keyframes glitch-2 {
  0% {
    clip: rect(86px, 920px, 25px, 0);
  }
  5% {
    clip: rect(30px, 920px, 17px, 0);
  }
  10% {
    clip: rect(54px, 920px, 43px, 0);
  }
  15% {
    clip: rect(20px, 920px, 86px, 0);
  }
  25% {
    clip: rect(62px, 920px, 1px, 0);
  }
  30% {
    clip: rect(61px, 920px, 24px, 0);
  }
  35% {
    clip: rect(38px, 920px, 46px, 0);
  }
  40% {
    clip: rect(115px, 920px, 8px, 0);
  }
  45% {
    clip: rect(87px, 920px, 44px, 0);
  }
  50% {
    clip: rect(6px, 920px, 65px, 0);
  }
  55% {
    clip: rect(83px, 920px, 99px, 0);
  }
  65% {
    clip: rect(25px, 920px, 71px, 0);
  }
  70% {
    clip: rect(47px, 920px, 55px, 0);
  }
  75% {
    clip: rect(115px, 920px, 18px, 0);
  }
  80% {
    clip: rect(68px, 920px, 46px, 0);
  }
  90% {
    clip: rect(47px, 920px, 31px, 0);
  }
  95% {
    clip: rect(47px, 920px, 84px, 0);
  }
  100% {
    clip: rect(93px, 920px, 53px, 0);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(86px, 920px, 25px, 0);
  }
  5% {
    clip: rect(30px, 920px, 17px, 0);
  }
  10% {
    clip: rect(54px, 920px, 43px, 0);
  }
  15% {
    clip: rect(20px, 920px, 86px, 0);
  }
  25% {
    clip: rect(62px, 920px, 1px, 0);
  }
  30% {
    clip: rect(61px, 920px, 24px, 0);
  }
  35% {
    clip: rect(38px, 920px, 46px, 0);
  }
  40% {
    clip: rect(115px, 920px, 8px, 0);
  }
  45% {
    clip: rect(87px, 920px, 44px, 0);
  }
  50% {
    clip: rect(6px, 920px, 65px, 0);
  }
  55% {
    clip: rect(83px, 920px, 99px, 0);
  }
  65% {
    clip: rect(25px, 920px, 71px, 0);
  }
  70% {
    clip: rect(47px, 920px, 55px, 0);
  }
  75% {
    clip: rect(115px, 920px, 18px, 0);
  }
  80% {
    clip: rect(68px, 920px, 46px, 0);
  }
  90% {
    clip: rect(47px, 920px, 31px, 0);
  }
  95% {
    clip: rect(47px, 920px, 84px, 0);
  }
  100% {
    clip: rect(93px, 920px, 53px, 0);
  }
}
.title .homePageSubtitle,
.title .contactPageSubtitle {
  color: #363636;
  font: 1.7rem "Robot Mono Regular";
  margin-top: 5%;
}
.title .homePageSubtitle .line,
.title .contactPageSubtitle .line {
  -webkit-animation: line 0.3s linear infinite;
          animation: line 0.3s linear infinite;
}
@-webkit-keyframes line {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes line {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  top: 80%;
}
.arrow .arrowContainer {
  width: 4rem;
  height: 4rem;
  -webkit-animation: arrow linear 4s infinite;
          animation: arrow linear 4s infinite;
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
.arrow .arrowContainer img {
  height: 100%;
  width: 100%;
}

.lineContainer {
  margin: 0 3rem;
  overflow: hidden;
  background: #ffffff;
}
.lineContainer .line {
  content: "";
  position: fixed;
  background: #f26b38;
  z-index: 105;
}
.lineContainer .top {
  left: 0;
  top: 0;
  width: 100%;
  height: 2.5rem;
}
.lineContainer .bottom {
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.lineContainer .left {
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 200%;
}
.lineContainer .right {
  left: auto;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 200%;
}

.iconContent {
  padding: 1.5rem 7rem 4rem 6rem;
  position: absolute;
  bottom: 5%;
  right: 0;
}
.iconContent .contactIconContainer {
  text-align: right;
}
.iconContent .contactIconContainer .icon {
  vertical-align: middle;
  padding: 1rem 0;
  color: #363636;
  font-size: 2rem;
}
.iconContent .contactIconContainer .icon:hover, .iconContent .contactIconContainer .icon:focus {
  -webkit-animation: icon 1s linear infinite;
          animation: icon 1s linear infinite;
}
@-webkit-keyframes icon {
  0% {
    opacity: 0.8;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 3px);
            transform: translate(0, 3px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes icon {
  0% {
    opacity: 0.8;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 3px);
            transform: translate(0, 3px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.contactMainPage {
  height: 100vh;
  margin-bottom: 10%;
}
.contactMainPage header .topMenuContainer .first {
  color: #363636;
}
.contactMainPage header .topMenuContainer .forth {
  color: #f26b38;
}

#contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-margin-top: 24vh;
  margin-top: 4rem;
}
#contactContent #contactInfoTitle h2 {
  -webkit-box-shadow: inset 0 -0.6rem 0px #ede574;
          box-shadow: inset 0 -0.6rem 0px #ede574;
  display: inline-block;
}
#contactContent .contactIntro .calendly {
  border-bottom: 2px solid #f26b38;
  font: 1.4rem "Robot Mono Bold";
}
#contactContent .contactInfo {
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 2.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#contactContent .contactInfo:hover, #contactContent .contactInfo:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
#contactContent .contactInfo .contactIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#contactContent .contactInfo .icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2rem;
  color: #363636;
  font-size: 4rem;
  background-color: white;
  z-index: 30;
}
#contactContent .contactInfo .icon:hover, #contactContent .contactInfo .icon:focus {
  -webkit-animation: icon 1s linear infinite;
          animation: icon 1s linear infinite;
}
@keyframes icon {
  0% {
    opacity: 0.8;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 3px);
            transform: translate(0, 3px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
#contactContent .contactInfo .contactForm {
  width: 100%;
  border: 2px solid #f26b38;
  border-radius: 4rem;
  margin-bottom: 8%;
  margin-top: -3%;
}
#contactContent .contactInfo .contactForm .formContainer form {
  height: auto;
  padding: 3rem 3rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contactContent .contactInfo .contactForm .formContainer form input,
#contactContent .contactInfo .contactForm .formContainer form textarea {
  font: 1.4rem "Robot Mono Regular";
  padding: 2rem;
  margin: 1rem 0;
}
#contactContent .contactInfo .contactForm .formContainer form input {
  border-bottom: 1.5px solid lightgrey;
}
#contactContent .contactInfo .contactForm .formContainer form textarea {
  resize: none;
  border: none;
  border: 1.5px solid lightgrey;
  outline: none;
}
#contactContent .contactInfo .contactForm .formContainer form .button {
  width: 30%;
  border-radius: 4rem;
  margin: 0.5rem auto 0 auto;
}

.home {
  height: 100vh;
}

#about {
  scroll-margin-top: 24vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5.5rem;
}
#about h2 {
  -webkit-box-shadow: inset 0 -0.6rem 0px #ede574;
          box-shadow: inset 0 -0.6rem 0px #ede574;
  display: inline-block;
}
#about .aboutIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
#about .aboutIntro .aboutImg {
  margin-right: 3rem;
  height: 100%;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0.6rem 0.6rem 0.1rem 0.2rem #f26b38;
          box-shadow: 0.6rem 0.6rem 0.1rem 0.2rem #f26b38;
}
#about .aboutIntro .aboutImg img {
  max-height: 100%;
}
#about .aboutIntro .leftAnimation {
  -webkit-animation: left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    transform: translateX(10rem);
    opacity: 1;
  }
}
@keyframes left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    transform: translateX(10rem);
    opacity: 1;
  }
}
@keyframes left {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
#about .aboutIntro .aboutText {
  -webkit-box-flex: 2.2;
      -ms-flex: 2.2;
          flex: 2.2;
}
#about .aboutIntro .rightAnimation {
  -webkit-animation: right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    transform: translateX(-10rem);
    opacity: 1;
  }
}
@keyframes right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    transform: translateX(-10rem);
    opacity: 1;
  }
}
@keyframes right {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
#about .tool {
  margin-top: 4rem;
}
#about .tool ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgb(252, 242, 231);
  margin-top: 2rem;
  border: 0px solid rgb(252, 242, 231);
  border-radius: 2rem;
}
#about .tool ul li {
  margin-top: 4rem;
  text-align: center;
  width: 25%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#about .tool ul li:hover, #about .tool ul li:active {
  color: #f26b38;
}
#about .tool ul li:hover i, #about .tool ul li:active i {
  color: #f26b38;
}
#about .tool ul li i {
  font-size: 7rem;
  color: #363636;
}
#about .tool ul .endOfToolKit {
  text-align: center;
  margin: 1rem auto;
}
#about .tool ul .endOfToolKit p {
  text-transform: uppercase;
  color: #f26b38;
  font-family: "Robot Mono Bold";
  font-size: 1.5rem;
  white-space: nowrap;
}
#about .tool ul .endOfToolKit .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}
#about .tool ul .endOfToolKit .loader .circle {
  width: 1rem;
  height: 1rem;
  background: #f26b38;
  border-radius: 50%;
  margin-right: 0.5rem;
  -webkit-animation: jump 1.2s linear infinite;
          animation: jump 1.2s linear infinite;
}
#about .tool ul .endOfToolKit .loader .circle:nth-child(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
#about .tool ul .endOfToolKit .loader .circle:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
@-webkit-keyframes jump {
  0%, 60%, 100% {
    -webkit-transform: initial;
            transform: initial;
  }
  35% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}
@keyframes jump {
  0%, 60%, 100% {
    -webkit-transform: initial;
            transform: initial;
  }
  35% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}

.projects {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .gifContainer {
  text-align: center;
}
.projects .gifContainer img {
  max-width: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  margin: 1rem auto;
}
.projects .projectsContainer .projectOne {
  margin-top: 1rem;
}
.projects .projectsContainer .projectOne .projectOneText {
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
}
.projects .projectsContainer .projectOne .projectDemo {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}
.projects .projectsContainer .projectThree .projectThreeText {
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
}
.projects .projectsContainer .projectThree .projectDemo {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}
.projects .projectsContainer .projectTwo .projectTwoText {
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
}
.projects .projectsContainer .projectTwo .projectDemo {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}
.projects .projectsContainer .projectLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .projectsContainer .projectLink a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4rem;
}
.projects .projectsContainer .projectLink a:nth-child(1) {
  margin-right: 1rem;
  padding: 0 2.2rem;
}
.projects .projectsContainer .projectLink a i {
  margin-right: 0.3rem;
  font-size: 1.5rem;
}
.projects .projectsContainer .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  margin-bottom: 4rem;
}
.projects .projectsContainer .project .projectImg {
  text-align: center;
  margin-right: 2rem;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.projects .projectsContainer .project .projectImg img {
  max-width: 100%;
  height: auto;
}
.projects .projectsContainer .project .projectText {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .projectsContainer .project .projectText h3 {
  -webkit-box-shadow: inset 0 -0.6rem 0px #ede574;
          box-shadow: inset 0 -0.6rem 0px #ede574;
  display: inline-block;
  padding-top: 1rem;
  margin-bottom: 0;
}
.projects .projectsContainer .project .projectText h4 {
  text-align: center;
  word-wrap: break-word;
}
.projects .projectsContainer .project .projectText p {
  padding: 0 5rem;
}

/* ******BELOW1280px*******/
@media (max-width: 1280px) {
  .mobileHeader {
    display: none;
  }
  header {
    display: block;
  }
}
/* ******BELOW820px*******/
@media (max-width: 820px) {
  html {
    font-size: 60%;
  }
  .mobileHeader {
    display: block;
  }
  .mobileHeader .show {
    width: 115%;
    border-bottom: 0.3rem solid #f26b38;
    border: 0;
    border-bottom: 0.5rem solid #f26b38;
    border-top: 0.5rem solid #f26b38;
  }
  .mobileHeader .show .mobileTopMenuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileHeader .show .mobileTopMenuContainer li {
    list-style: none;
    font: 1.5rem "Robot Mono Regular";
    padding: 0.8rem;
    width: 100%;
  }
  .mobileHeader .show .mobileTopMenuContainer li:hover, .mobileHeader .show .mobileTopMenuContainer li:focus {
    background-color: #f26b38;
  }
  .mobileHeader .show .mobileTopMenuContainer li a {
    -webkit-box-shadow: inset 0 -0.4rem 0px #ede574;
            box-shadow: inset 0 -0.4rem 0px #ede574;
    color: #363636;
  }
  header {
    display: none;
  }
  #about {
    scroll-margin-top: 10vh;
  }
  #contactContent .contactInfo .contactForm {
    margin-top: -4%;
  }
  .projects .projectsContainer .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* ******BELOW750px*******/
@media (max-width: 750px) {
  html {
    font-size: 56%;
  }
  .title h1 {
    font-size: 55px;
  }
  .lineContainer .top,
.lineContainer .bottom {
    height: 2rem;
  }
  .lineContainer .left,
.lineContainer .right {
    width: 2rem;
  }
  #about .tool ul li {
    width: 30%;
  }
}
@media (max-width: 706px) {
  .title h1 {
    font-size: 48px;
  }
  @-webkit-keyframes left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(3rem);
              transform: translateX(3rem);
      transform: translateX(3rem);
      opacity: 1;
    }
  }
  @keyframes left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(3rem);
              transform: translateX(3rem);
      transform: translateX(3rem);
      opacity: 1;
    }
  }
  @keyframes left {
    0% {
      -webkit-transform: translateX(-3rem);
              transform: translateX(-3rem);
      transform: translateX(-3rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-3rem);
              transform: translateX(-3rem);
      transform: translateX(-3rem);
      opacity: 1;
    }
  }
  @keyframes right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-3rem);
              transform: translateX(-3rem);
      transform: translateX(-3rem);
      opacity: 1;
    }
  }
  @keyframes right {
    0% {
      -webkit-transform: translateX(3rem);
              transform: translateX(3rem);
      transform: translateX(3rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}
/* ******BELOW615px*******/
@media (max-width: 615px) {
  html {
    font-size: 50%;
  }
  .title h1 {
    font-size: 45px;
  }
  .lineContainer .top,
.lineContainer .bottom {
    height: 1.6rem;
  }
  .lineContainer .left,
.lineContainer .right {
    width: 1.6rem;
  }
  #about .aboutIntro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .aboutIntro .aboutImg {
    margin-bottom: 2rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #about .aboutIntro .aboutImg img {
    height: 30rem;
    width: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: 0.5rem solid #f26b38;
  }
  #projects .projectsContainer .project .projectText p {
    padding: 0;
    text-align: center;
  }
  .title h1::after {
    content: "";
  }
}
/* ******BELOW490px*******/
@media (max-width: 490px) {
  html {
    font-size: 50%;
  }
  .title h1 {
    font-size: 40px;
  }
  .lineContainer .top,
.lineContainer .bottom {
    height: 1.3rem;
  }
  .lineContainer .left,
.lineContainer .right {
    width: 1.3rem;
  }
  #about .tool ul li {
    width: 45%;
  }
}